<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <link rel="stylesheet" href="/static/css/main.css">
</head>
<body>
    <h2>Register</h2>
    <form method="POST" action="/register">
        <label for="email">Email:</label><br>
        <input type="email" name="email" id="text" type="email" required><br>
        <label for="username">Username:</label><br>
        <input type="text" name="username" id="text" required><br>
        <label for="password">Password:</label><br>
        <input type="text" name="password" id="password" required><br>
        <button type="submit">Register</button>
    </form>
    <p>Already have an account? <a href="/login">Login</a></p>
</body>
</html>